body,
html {
    margin: auto;
    height: 100%;
    background-image: url('/static/images/background_cat.jpg');
    /* Full height */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-blend-mode: lighten;

}

.success {
    position: relative;
    padding: 7px;
    margin: 7px 0;
    border: 1px solid transparent;
    color: #004085;
    background-color: #cce5ff;
    border-color: #b8daff;
    border-radius: 5px;
    text-align: center;
    font-weight: 700;
}

.error {
    position: relative;
    padding: 7px;
    margin: 7px 0;
    border: 1px solid transparent;
    color: white;
    background-color: #ff4262;
    border-color: #ff3333;
    border-radius: 5px;
    text-align: center;
    font-weight: 700;
}