.home {
    float: left;
    text-align: center;
    margin: auto;
    padding: 0;
    margin-left: 25em;
    margin-top: 5em;
}

.home_title {

    font-family: 'Kaisei Decol';
    font-style: normal;
    font-weight: 1000;
    font-size: 38px;
    line-height: 35px;
    text-align: center;

    color: black;
}

.scheduleBtn {
    width: 508px;
    height: 135px;
    left: 466px;
    top: 227px;

    background: rgba(140, 123, 96, 0.8);
    border-radius: 15px;
}

.scheduleBtn:hover {
    background: rgba(174, 110, 52, 0.6);
}