.menu {
    background: rgba(255, 255, 255, 0.7);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    backdrop-filter: blur(10px);
    width: 20%;
    height: 943px;
    left: 0px;
    top: 81px;
    float: left;
}

.menu-list {
    list-style: none;
    margin: 0;
    padding: 0;
    padding-top: 2em;
    padding-bottom: 2em;
    width: 100%;
    line-height: 40px;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
}

.menu-list li {
    text-align: center;
    padding: 12px 24px;
}

.menu-list li:hover {
    background-color: rgba(174, 110, 52, 0.6);
}