.pref {
    float: left;
    text-align: center;
    margin: auto;
    padding: 0;
    margin-left: 25em;
    margin-top: 5em;
}

.pref_title {

    font-family: 'Kaisei Decol';
    font-style: normal;
    font-weight: 1000;
    font-size: 38px;
    line-height: 35px;
    text-align: center;

    color: black;
}

.prefForm {
    width: 508px;
    left: 466px;
    top: 230px;

    background: rgba(140, 123, 96, 0.6);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    backdrop-filter: blur(10px);
    /* Note: backdrop-filter has minimal browser support */

    border-radius: 15px;
}

.prefForm h1 {
    padding: 2em;
    font-family: 'Kaisei Decol';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 29px;
    display: flex;
    align-items: center;
    text-align: center;

    margin: 0 auto 1.5rem auto;
    flex-wrap: wrap;

    color: #000000;
}

.prefForm .formInput {
    margin: 0;
    padding: 0;
    margin-bottom: 10px;
    text-align: left
}
.multipleSelect{
    margin-left: 0;
    text-align: right;
}
.multipleSelect label{
    float:left
}
.multipleSelect select{
    font-family: 'Kaisei Decol';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 29px;
    margin-right:3em;
    margin-bottom: 2px;
}


.prefForm label {
    text-align: left;
    margin-left: 3em;

    font-family: 'Kaisei Decol';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 29px;
    color: #000000;

}

.formInput select,
.input {
    float: right;
    margin-right: 3em;


    font-family: 'Kaisei Decol';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 29px;
    color: #000000;

}

.prefButton {
    text-align: center;
}

.btn {
    background: rgba(174, 110, 52, 0.78);
    border-radius: 11px;

    margin-top: 3em;
    margin-bottom: 1em;

    font-family: 'Kaisei Decol';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 29px;
    /* identical to box height */
    color: #FFFFFF;
}