.menu {
    background: rgba(255, 255, 255, 0.7);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    backdrop-filter: blur(10px);
    width: 331px;
    height: 943px;
    left: 0px;
    top: 81px;
}

.menu ul {
    list-style: none;
    margin: 0;
    padding: 0;
    padding-top: 2em;
    padding-bottom: 2em;
    width: 100%;
    line-height: 40px;
    border-bottom: 1px solid #fff;
}

.menu li {
    text-align: center;
}