{% extends "index.html" %}
{% block head %}
{{ super() }}
<link rel="stylesheet" href="{{ url_for('static', filename='/css/home.css') }}" type="text/css">
{% endblock %}

{% block content %}
{{ super() }}
<div class="home">
    <h1 class="home_title"> Welcome, {{current_user.name}} !</h1>

    <p class="home_content"><a href="{{ url_for('schedule') }}"><button class="scheduleBtn">
                <h2>Schedule a session for pet</h2>
                <p>
                    Click here to schedule a drop-off time for your fluffy friends. Your pet will be taken care by
                    senior citizens who are experienced and passionate about pets just like you.
                </p>
            </button></a></p>

            <p class="home_content"><a href="{{url_for('seniorPref')}}"><button class="scheduleBtn">
                <h2>I want to take care of pet</h2>
                <p>
                    If you are a senior who loves pets and time to spare,click here to enter your availability to take care of pets.
                </p>
            </button></a></p>
</div>
{% endblock %}