{% extends "index.html" %}
{% block head %}
{{ super() }}
<link rel="stylesheet" href="{{ url_for('static', filename='/css/seniorList.css') }}" type="text/css">
<link rel="script" href="{{ url_for('static', filename='/js/seniorList.js') }}" type="text/css">
<script src="{{ url_for('static', filename='js/seniorList.js') }}">
    alert("This alert box was called with the onload event");
</script>

{% endblock %}

{% block content %}
{{ super() }}
<div class="senior_list">
    <h1 class="senior_list_title">Here are all available seniors:</h1>

    <div class="cards">

        <div class="card">
            <img src="{{ url_for('static', filename='/images/brad-pitt.jpg') }}"/>
            <input type="checkbox"/>
            <p>Name: Brad Pitt</p>
            <p>Gender: Male</p>
            <p>Age: 59</p>
            <p>Pet Preference: Dog, Cat, Bird</p>

        </div>

        <div class="card">
            <img src="{{ url_for('static', filename='/images/elon-musk.png') }}"/>
            <input type="checkbox"/>
            <p>Name: Elon Musk</p>
            <p>Gender: Male</p>
            <p>Age: 54</p>
            <p>Pet Preference: Dog</p>

        </div>

        <div class="card">
            <img src="{{ url_for('static', filename='/images/profile_icon.png') }}"/>
            <input type="checkbox"/>
            <p>Name: Senior 3</p>
            <p>Gender: Female</p>
            <p>Age: 63</p>
            <p>Pet Preference: Dog, Cat, Bird</p>

        </div>

        <div class="card">
            <img src="{{ url_for('static', filename='/images/profile_icon.png') }}"/>
            <input type="checkbox"/>
            <p>Name: Senior 4</p>
            <p>Gender: Female</p>
            <p>Age: 59</p>
            <p>Pet Preference: Cat, Bird</p>

        </div>

        <div class="card">
            <img src="{{ url_for('static', filename='/images/profile_icon.png') }}"/>
            <input type="checkbox"/>
            <p>Name: Senior 5</p>
            <p>Gender: Maleale</p>
            <p>Age: 52</p>
            <p>Pet Preference: Dog, Bird</p>

        </div>

        <div class="card">
            <img src="{{ url_for('static', filename='/images/profile_icon.png') }}"/>
            <input type="checkbox"/>
            <p>Name: Senior 6</p>
            <p>Gender: Female</p>
            <p>Age: 63</p>
            <p>Pet Preference: Dog, Cat, Bird</p>

        </div>

        <div class="card">
            <img src="{{ url_for('static', filename='/images/profile_icon.png') }}"/>
            <input type="checkbox"/>
            <p>Name: Senior 7</p>
            <p>Gender: Female</p>
            <p>Age: 59</p>
            <p>Pet Preference: Cat, Bird</p>

        </div>

        <div class="card">
            <img src="{{ url_for('static', filename='/images/profile_icon.png') }}"/>
            <input type="checkbox"/>
            <p>Name: Senior 8</p>
            <p>Gender: Maleale</p>
            <p>Age: 52</p>
            <p>Pet Preference: Dog, Bird</p>

        </div>
        
        <div class="btn">
            <a href="{{ url_for('confirm') }}">Confirm</a>
        </div>


    </div>

</div>
{% endblock %}