<!doctype html>
<html>

<head>
    {% block head %}
    <link rel="stylesheet" href="{{ url_for('static', filename='/css/menu.css') }}">
    {% endblock %}
</head>
<div class="menu">
    <ul class="menu-list">
        <li>
            <a href="{{ url_for('home') }}">Home</a>
        </li>
        <li>
            <a href="{{ url_for('myInfo') }}">My Information</a>
        </li>
        <li>
            <a href="{{ url_for('petsList') }}">My Pets</a>
        </li>
        <li>
            <a href="{{ url_for('schedule') }}">Schedule</a>
        </li>
        <li>
            <a href="{{ url_for('sessions') }}">Sessions</a>
        </li>
    </ul>

</div>