{% extends "index.html" %}
{% block head %}
{{ super() }}
<link rel="stylesheet" href="{{ url_for('static', filename='/css/pet.css') }}" type="text/css">
{% endblock %}

{% block content %}
{{ super() }}
<div class="pet">
    <h1 class="pet_title">My pet information</h1>
    <div class="petForm">
        <form method="post">
            <h1>Review/Change your pet information</h1>
            <div class="formInput">
                <label for="userName">Owner's name:</label>
                <p class="owner">{{owner}}</p>
            </div>

            <div class=" formInput">
                <label for="petName">Pet's name:</label>
                <input class="input" type="text" id="petName" name="petName" value="{{pet.name}}">
            </div>

            <div class="formInput">
                <label for="petBreed">Pet's Breed:</label>
                <input class="input" type="text" id="petBreed" name="petBreed" value="{{pet.breed}}">
            </div>

            <div class="formInput">
                <label for="petAge">Pet's Age:</label>
                <input class="input" type="text" id="petAge" name="petAge" value="{{pet.age}}">
            </div>

            <div class="formInput">
                <label for="petWeight">Pet's Weight:</label>
                <input class="input" type="text" id="petWeight" name="petWeight" value="{{pet.weight}}">
            </div>

            <div class="formInput">
                <label for="petAcitivityLevel">Pet's Acativity Level:</label>
                <select name="petActivity" id="petActivity">
                    <option value="annoying" {% if pet.Activity_level=="annoying" %} selected {% endif %}>Annoying
                    </option>
                    <option value="moderate" {% if pet.Activity_level=="moderate" %} selected {% endif %}>Moderate
                    </option>
                    <option value="quiet" {% if pet.Activity_level=="quiet" %} selected {% endif %}>Quiet</option>
                </select>
            </div>

            <div class="formInput">
                <label for="petFoodPreference">Pet's food preference:</label>
                <input class="input" type="text" id="petFoodPreference" name="petFoodPreference" value="raw meat">
            </div>

            <div class="petButton">
                <input class="btn" type="submit" value="Update">
            </div>

        </form>
    </div>
</div>
{% endblock %}