{% extends "index.html" %}
{% block head %}
{{ super() }}
<link rel="stylesheet" href="{{ url_for('static', filename='/css/pet.css') }}" type="text/css">
{% endblock %}

{% block content %}
{{ super() }}
<div class="pet">
    <h1 class="pet_title">My pet information</h1>
    <div class="petForm">
        <form method="post">
            <h1>Review/Change your pet information</h1>
            <div class="formInput">
                <label for="userName">Owner's name:</label>
                <p class="owner">{{owner.strip()}}</p>
            </div>

            <div class=" formInput">
                <label for="petName">Pet's name:</label>
                <input class="input" type="text" id="petName" name="petName"
                    value="{% if pet %} {{pet.name.strip()}} {% endif %}" required>
            </div>

            <div class="formInput">
                <label for="petType">Pet's Type:</label>
                <input class="input" type="text" id="petType" name="petType"
                    value="{% if pet %} {{pet.type.strip()}} {% endif %}" required>
            </div>

            <div class="formInput">
                <label for="petBreed">Pet's Breed:</label>
                <input class="input" type="text" id="petBreed" name="petBreed"
                    value="{% if pet %} {{pet.breed.strip()}} {% endif %}" required>
            </div>

            <div class="formInput">
                <label for="petAge">Pet's Age:</label>
                <input class="input" type="text" id="petAge" name="petAge"
                    value="{% if pet %} {{pet.age.strip()}} {% endif %}" required>
            </div>

            <div class="formInput">
                <label for="petWeight">Pet's Weight:</label>
                <input class="input" type="text" id="petWeight" name="petWeight"
                    value="{% if pet %} {{pet.weight.strip()}} {% endif %}" required>
            </div>

            <div class="formInput">
                <label for="petAcitivityLevel">Pet's Acativity Level:</label>
                <select name="petActivity" id="petActivity">
                    <option value="annoying" {% if not pet or (pet and pet.activity_level.strip()=="annoying" ) %}
                        selected {% endif %}>Annoying
                    </option>
                    <option value="moderate" {% if pet and pet.activity_level.strip()=="moderate" %} selected {% endif
                        %}>
                        Moderate
                    </option>
                    <option value="quiet" {% if pet and pet.activity_level.strip()=="quiet" %} selected {% endif %}>
                        Quiet
                    </option>
                </select>
            </div>

            <div class="formInput">
                <label for="petFoodPreference">Pet's food preference:</label>
                <input class="input" type="text" id="petFoodPreference" name="petFoodPreference"
                    value="{% if pet %} {{pet.food_preference.strip()}} {% endif %}" required>
            </div>

            <div class="petButton">
                <input class="btn" type="submit" value="Update">
            </div>

        </form>
    </div>
</div>
{% endblock %}