{% extends "index.html" %}
{% block head %}
{{ super() }}
<link rel="stylesheet" href="{{ url_for('static', filename='/css/schedule.css') }}" type="text/css">
{% endblock %}

{% block content %}
{{ super() }}
<div class="schedule">
    <h1 class="schedule_title"> Schedule a session for your pet</h1>
    <div class="scheduleForm">
        <form action="{{ url_for('schedule') }}" method="post">
            <h1>Simply put in the information below, we will match senior citizens for your pet</h1>
            <div>
                <label for="pet">Select your pet:</label>
                <select name="pet" id="pet">
                    {% for i in range(pets|length) %}
                    <option value="{{ pets[i].id }}">{{ pets[i].name }}</option>
                    {% endfor %}
                </select>
            </div>
            <div>

                <label for="time">Drop-off Time:</label>
                <input class="input" type="time" id="dropOffTime" name="dropOffTime">
            </div>
            <div>

                <label for="time">Pick-up Time:</label>
                <input class="input" type="time" id="pickUpTime" name="pickUpTime">
            </div>
            <div class="multipleSelect">
                <label for="weekdaysSelect">Date (in one week)</label>
                <select id="weekdaysSelect" name="weekdaysSelect" required>
                    {% for date in choosebleDate %}
                    <option value={{date}}>
                        {{date}}
                        {% endfor %}
                </select>
            </div>

            <div class="scheduleButtons">
                <p>I want my pet to be taken care of by: </p>
                <input class="btn" type="submit" name="submitBtn" value="The most suitable senior citizen">
                <input class="btn" type="submit" name="submitBtn"
                    value="I'll choose from the top-5 subitable senior citizens">

                <input class="btn" type="submit" name="submitBtn"
                    value="I'll choose from all available senior citizens">
            </div>

        </form>
    </div>
</div>
{% endblock %}