{% extends "index.html" %}
{% block head %}
{{ super() }}
<link rel="stylesheet" href="{{ url_for('static', filename='/css/seniorPref.css') }}" type="text/css">
{% endblock %}

{% block content %}
{{ super() }}
<div class="pref">
    <h1 class="pref_title">Your preference</h1>
    <div class="prefForm">
        <form method="post">
            <h1>Review/Update your preference and availability</h1>
            <div class="formInput">
                <label for="seniorAge">Your age(In years):</label>
                <input class="input" type="number" id="seniorAge" name="seniorAge" value="" required>
            </div>
            <div class="multipleSelect">
                <label for="typeSelect"> Pets'type preference</label>
                <select id="typeSelect" name="typeSelect" multiple required>       
                    <option value=1>Big Dog</option>
                    <option value=2>Medium Dog</option>
                    <option value=3>Small Dog</option>
                    <option value=4>Cat</option>
                </select>
            </div>
            
            <div class="formInput">
                <label for="fav_activity">Pet's activity level preferene:</label>
                <select name="petActivity" id="petActivity" required>
                    <option value=1 {% if not pet or (pet and pet.activity_level==1 ) %}
                        selected {% endif %}>Annoying
                    </option>
                    <option value=2 {% if pet and pet.activity_level==2 %} selected {% endif
                        %}>
                        Moderate
                    </option>
                    <option value=3 {% if pet and pet.activity_level==3 %} selected {% endif %}>
                        Quiet
                    </option>
                </select>
            </div>
            <h2>Availability</h2>
            <div class="multipleSelect">
                <label for="weekdaysSelect">weekdays</label>
                <select id="weekdaysSelect" name="weekdaysSelect" multiple required>       
                    <option value=1>Monday</option>
                    <option value=2>Tuesday</option>
                    <option value=3>Wednesday</option>
                    <option value=4>Thursday</option>
                    <option value=5>Friday</option>
                    <option value=6>Saturday</option>
                    <option value=7>Sunday</option>
                </select>
            </div>
            <div class="formInput">
                <label for="from">From</label>

                <input class="input" type="time" id="from" name="from"
                    min="09:00" max="18:00" required>
            </div>
            <div class="formInput">
                <label for="to">To</label>

                <input class="input" type="time" id="to" name="to"
                    min="09:00" max="18:00" required>
            </div>

            <div class="prefButton">
                <input class="btn" type="submit" value="Update">
            </div>

        </form>
    </div>
</div>
{% endblock %}